In [3]:
import tensorflow as tf
import tensorflow.keras as tfk
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import fetch_california_housing
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline

In [4]:
dataset=fetch_california_housing(as_frame=True)

In [5]:
df=dataset.frame
y=df.MedHouseVal
df.drop(columns="MedHouseVal", inplace=True, axis=1 )
X=df

In [6]:
X.head(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [7]:
X.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, shuffle=True, test_size=0.2)

In [10]:

tf.random.set_seed=42

In [11]:

norm_layer=tfk.layers.Normalization(input_shape=X_train.shape[1:])
model=tfk.Sequential()
model.add(norm_layer)
model.add(tfk.layers.Dense(50,activation="relu"))
model.add(tfk.layers.Dense(90,activation="relu"))
model.add(tfk.layers.Dense(90,activation="relu"))
model.add(tfk.layers.Dense(1))
model.compile(
    loss="mse",
    optimizer=tfk.optimizers.Adam(learning_rate=1e-3),
    metrics=["RootMeanSquaredError"]
)
norm_layer.adapt(X_train)

In [14]:
history=model.fit(X_train,y_train, batch_size=100, epochs=1,validation_data=(X_test,y_test))

166/166 [==============================] - 0s 1ms/step - loss: 0.2657 - root_mean_squared_error: 0.5155 - val_loss: 0.2806 - val_root_mean_squared_error: 0.5297

In [13]:
history_df = pd.DataFrame(history.history)

In [48]:
history_df.head

<bound method NDFrame.head of         loss  root_mean_squared_error  val_loss  val_root_mean_squared_error
0   1.114855                 1.055867  0.426835                     0.653326
1   0.399784                 0.632285  0.933374                     0.966113
2   0.378837                 0.615497  0.346570                     0.588702
3   0.327125                 0.571949  0.334832                     0.578647
4   0.319701                 0.565421  0.328852                     0.573456
5   0.316841                 0.562887  0.314099                     0.560446
6   0.306027                 0.553197  0.308942                     0.555825
7   0.300283                 0.547981  0.309848                     0.556640
8   0.297920                 0.545820  0.313590                     0.559991
9   0.290283                 0.538779  0.307881                     0.554871
10  0.290666                 0.539135  0.320212                     0.565872
11  0.284714                 0.533586  0.288001                     0.536657
12  0.285167                 0.534011  0.289517                     0.538068
13  0.281504                 0.530570  0.297310                     0.545261
14  0.276983                 0.526292  0.279319                     0.528507
15  0.277600                 0.526878  0.284783                     0.533651
16  0.273689                 0.523153  0.288476                     0.537100
17  0.271947                 0.521485  0.284809                     0.533675
18  0.264909                 0.514693  0.272137                     0.521667
19  0.264245                 0.514047  0.280265                     0.529400>

In [49]:
model.evaluate(X_test,y_test)

129/129 [==============================] - 0s 743us/step - loss: 0.2803 - root_mean_squared_error: 0.5294

[0.28026482462882996, 0.5294004678726196]

In [50]:
pred=model.predict(X_test[:5])

1/1 [==============================] - 0s 46ms/step

In [51]:
pred.round(2)

array([[0.52],
       [1.14],
       [4.99],
       [2.53],
       [2.99]], dtype=float32)

In [52]:
pred[:5]

array([[0.5183164],
       [1.1410192],
       [4.9871297],
       [2.5269668],
       [2.9876654]], dtype=float32)

In [53]:
y_test[:5]

20046    0.47700
3024     0.45800
15663    5.00001
20484    2.18600
9814     2.78000
Name: MedHouseVal, dtype: float64