In [ ]:
import pandas as pd

In [ ]:
dataset=pd.read_csv("municipality_bus_utilization.csv")

In [9]:
dataset.head(5)

             timestamp  municipality_id  usage  total_capacity
0  2017-06-04 07:59:42                9    454            1332
1  2017-06-04 07:59:42                8    556            2947
2  2017-06-04 07:59:42                4   1090            3893
3  2017-06-04 07:59:42                0    204            2813
4  2017-06-04 07:59:42                7    718            2019

In [10]:
dataset.describe

<bound method NDFrame.describe of                  timestamp  municipality_id  usage  total_capacity
0      2017-06-04 07:59:42                9    454            1332
1      2017-06-04 07:59:42                8    556            2947
2      2017-06-04 07:59:42                4   1090            3893
3      2017-06-04 07:59:42                0    204            2813
4      2017-06-04 07:59:42                7    718            2019
...                    ...              ...    ...             ...
13065  2017-08-19 16:30:35                2    548             697
13066  2017-08-19 16:30:35                8   1193            2947
13067  2017-08-19 16:30:35                7   1354            2019
13068  2017-08-19 16:30:35                6   1680            3113
13069  2017-08-19 16:30:35                3   1189            1930

[13070 rows x 4 columns]>

In [13]:
dataset.info

<bound method DataFrame.info of                  timestamp  municipality_id  usage  total_capacity
0      2017-06-04 07:59:42                9    454            1332
1      2017-06-04 07:59:42                8    556            2947
2      2017-06-04 07:59:42                4   1090            3893
3      2017-06-04 07:59:42                0    204            2813
4      2017-06-04 07:59:42                7    718            2019
...                    ...              ...    ...             ...
13065  2017-08-19 16:30:35                2    548             697
13066  2017-08-19 16:30:35                8   1193            2947
13067  2017-08-19 16:30:35                7   1354            2019
13068  2017-08-19 16:30:35                6   1680            3113
13069  2017-08-19 16:30:35                3   1189            1930

[13070 rows x 4 columns]>

In [31]:
dataunique=dataset["municipality_id"].unique

<bound method Series.unique of 0        2
1        2
2        2
3        2
4        2
        ..
13065    2
13066    2
13067    2
13068    2
13069    2
Name: municipality_id, Length: 13070, dtype: int64>