In [1]:
import numpy as np
import  pandas as pd
import matplotlib.pyplot as plt
import  seaborn as sns
import  scipy as spy

In [3]:
spam_data_set=pd.read_csv("spam_or_not_spam.csv")

In [4]:
spam_data_set.head(10)

                                               email  label
0   date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1  martin a posted tassos papadopoulos the greek ...      0
2  man threatens explosion in moscow thursday aug...      0
3  klez the virus that won t die already the most...      0
4   in adding cream to spaghetti carbonara which ...      0
5   i just had to jump in here as carbonara is on...      0
6  the scotsman NUMBER august NUMBER playboy want...      0
7  martin adamson wrote isn t it just basically a...      0
8  the scotsman thu NUMBER aug NUMBER meaningful ...      0
9  i have been trying to research via sa mirrors ...      0

In [5]:
g=spam_data_set.groupby('label')
spam=g.get_group(1)
not_spam=g.get_group(0)

In [7]:
not_spam

                                                  email  label
0      date wed NUMBER aug NUMBER NUMBER NUMBER NUMB...      0
1     martin a posted tassos papadopoulos the greek ...      0
2     man threatens explosion in moscow thursday aug...      0
3     klez the virus that won t die already the most...      0
4      in adding cream to spaghetti carbonara which ...      0
...                                                 ...    ...
2495  man killed trying to surf on tube train ananov...      0
2496  hi gianni a very good resource for this is URL...      0
2497  gianni ponzi wrote i have a prob when trying t...      0
2498  neale pickett neale woozle org writes skip mon...      0
2499   hi i think you need to give us a little more ...      0

[2500 rows x 2 columns]